$color-click: #57D885;

button {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten($color-click, 5%);
  }
  &:active {
    background-color: darken($color-click, 10%);
  }
}

.click {
  display: block;
  height: 80px;
  width: 300px;
  background-color: $color-click;
}
