$color-click: #57D885;

button {
  color: #fff;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.click {
  display: block;
  height: 80px;
  width: 300px;
  background-color: $color-click;
}
