$color-click: #57D885;

button {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten($color-click, 5%);
  }
  &:active {
    background-color: darken($color-click, 10%);
  }
}

.click {
  display: block;
  height: 80px;
  width: 300px;
  background-color: $color-click;
}

.message {
  width: 600px;
  height: 280px;
  background-color: #ddd;
  font-size: 24px;
  text-align: center;
}

.ok {
  display: block;
  width: 300px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-click;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
